:root {
  --bodyBackground: rgba(255, 255, 255, 1);
  --textColor: rgba(57, 57, 57, 1);
  --backgroundColor: rgba(2, 174, 185, 1);
  --btnBackground: linear-gradient(
    90deg,
    #01afba 0%,
    #01a6b0 46.94%,
    #038d96 100%
  );
  --btnColor: rgba(255, 255, 255, 1);
}

body {
  position: relative;
}

.main {
  background: rgba(0, 0, 0, 1);
  color: var(--bodyBackground);
  height: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1 {
  font-family: Gilroy-Bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
}

.icon1 {
  position: absolute;
  top: 120px;
  left: 0;
}

.icon2 {
  position: absolute;
  top: 140px;
  left: 130px;
}

.icon3 {
  position: absolute;
  top: 190px;
  left: 220px;
}

.icon4 {
  position: absolute;
  top: 230px;
  left: 70px;
}

.icon5 {
  position: absolute;
  top: 350px;
  left: 20px;
}

.icon6 {
  position: absolute;
  top: 376px;
  left: 260px;
}

.icon7 {
  position: absolute;
  top: 360px;
  left: 550px;
}

.icon8 {
  position: absolute;
  top: 380px;
  left: 1060px;
}

.icon9 {
  position: absolute;
  top: 10px;
  left: 600px;
}

.icon10 {
  position: absolute;
  top: 31px;
  right: 350px;
}
.icon11 {
  position: absolute;
  top: 220px;
  right: 230px;
}
.icon12 {
  position: absolute;
  top: 50px;
  right: 30px;
}

.icon13 {
  position: absolute;
  top: 330px;
  right: 70px;
}

.icon14 {
  position: absolute;
  top: 300px;
  width: 60px;
  left: 135px;
}

.mob_img {
  display: none;
}

.main_2 {
  background-color: transparent;
  padding: 0 135px;
}

.main_2 .responsive {
  width: 100%;
  padding: 10px 90px;
  margin-top: -50px;
  background-color: var(--bodyBackground);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 40px 0px;
}

.main_2 .responsive img {
  width: 100%;
  height: auto;
}

.slick-prev {
  left: 30px !important;
}

.slick-next {
  right: 30px !important;
}

.slick-prev,
.slick-next {
  background: black !important;
  box-shadow: 0px 0px 10px black !important;
}

.slick-dots {
  display: none !important;
}

.mob_main_2 {
  display: none;
}

.main_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  place-items: center;
  padding: 120px 135px;
}

.left_3 h2 {
  font-family: "Gilroy-Bold";
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.left_3_btn {
  margin-top: 2rem;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #ffffff;
}

.center_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_3 img {
  width: 100%;
  height: auto;
}

.right_3 p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
}

.main_4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  place-items: center;
  padding: 0 135px;
  background: #f4f4f4;
}

.models {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid rgba(0, 129, 168, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 129, 168, 1);
}

.left_4 {
  width: 90%;
}

.left_4 .box p {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}

.center_4 {
  padding: 4rem 0;
  text-align: center;
}

.center_4 h2 {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0em;
  margin-bottom: 1rem;
  color: #393939;
}

.center_4 p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #393939;
}

.center_4 img {
  margin-top: 2rem;
  z-index: 99;
  position: relative;
  width: 500px;
}

.right_4 p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.right_4 .right_4_btn {
  margin-top: 2rem;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #ffffff;
}

.background_img {
  margin-top: -210px;
  position: absolute;
  width: 100%;
}

.main_5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: var(--bodyBackground);
  position: relative;
  z-index: 99;
  padding: 120px 135px;
}

.left_5 img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.right_5 h2 {
  font-family: Gilroy-Bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
}

.right_5 .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}

.right_5 .box .card p {
  font-family: Gilroy-Bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
  margin-bottom: 10px;
}

.right_5 .box .card a {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #02aeb9;
}

.main_6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  border: 0.2px solid #006483;
  background-image: url(../images/vector-lines.png);
  background-color: var(--backgroundColor);
  padding: 120px 135px;
}

.main_6 .left_6 h2 {
  font-family: Gilroy-Bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.main_6 .left_6 .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.main_6 .left_6 .box .card h4 {
  font-family: Gilroy-Bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.main_6 .left_6 .box .card p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: #ffffff;
}

.main_6 .left_6 .custom_btn {
  background: var(--bodyBackground);
  color: #0081a8;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  margin-top: 50px;
}

.main_6 .right_6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_6 .right_6 img {
  width: 80%;
  height: auto;
}

@media (min-width: 1400px) and (max-width: 1670px) {
  .icon3 {
    position: absolute;
    top: 280px;
    left: 300px;
    width: 80px;
  }

  .icon6 {
    position: absolute;
    top: 376px;
    left: 180px;
  }

  .icon9 {
    position: absolute;
    top: 45px;
    left: 540px;
  }

  .icon10 {
    position: absolute;
    top: 120px;
    left: 950px;
  }

  .icon11 {
    position: absolute;
    top: 270px;
    left: 1140px;
    width: 100px;
  }

  .icon8 {
    position: absolute;
    top: 420px;
    left: 910px;
  }

  .icon12 {
    position: absolute;
    top: 70px;
    left: 1170px;
  }

  .icon13 {
    position: absolute;
    top: 370px;
    left: 1280px;
  }
}

@media (min-width: 991px) and (max-width: 1400px) {
  .main_2 {
    padding: 0 15px;
  }

  .main_3 {
    padding: 120px 15px;
  }

  .main_4 {
    padding: 0 15px;
  }

  .main_5 {
    padding: 120px 15px;
  }

  .main_6 {
    padding: 120px 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1360px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon10,
  .icon11,
  .icon12,
  .icon13,
  .icon14 {
    display: block;
  }
  .icon9 {
    display: none;
  }
  .icon11 {
    position: absolute;
    top: 220px;
    right: 50px;
  }
  .icon10 {
    top: 100px;
    right: 270px;
  }
  .icon12 {
    position: absolute;
    top: 40px;
    right: 10px;
  }
  .icon3,
  .icon14 {
    display: none;
  }
  .icon7 {
    position: absolute;
    top: 360px;
    left: 350px;
  }
  .icon8 {
    position: absolute;
    top: 330px;
    left: 480px;
  }
  .icon13 {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon10,
  .icon11,
  .icon12,
  .icon13,
  .icon14 {
    display: block;
  }
  .icon9 {
    display: none;
  }
  .icon11 {
    position: absolute;
    top: 220px;
    left: 820px;
  }
  .icon10 {
    position: absolute;
    top: 0px;
    left: 360px;
  }
  .icon12 {
    position: absolute;
    top: 50px;
    left: 600px;
  }
  .icon3,
  .icon14 {
    display: none;
  }
  .icon7 {
    position: absolute;
    top: 360px;
    left: 350px;
  }
  .icon8 {
    position: absolute;
    top: 330px;
    left: 480px;
  }
  .icon13 {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}

@media (min-width: 770px) and (max-width: 991px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon10,
  .icon11,
  .icon12,
  .icon13,
  .icon14 {
    display: block;
  }
  .icon9 {
    display: none;
  }
  .icon11 {
    position: absolute;
    top: 220px;
    left: 620px;
  }
  .icon10 {
    position: absolute;
    top: 0px;
    left: 360px;
  }
  .icon12 {
    position: absolute;
    top: 50px;
    left: 600px;
  }
  .icon3,
  .icon14 {
    display: none;
  }
  .icon7 {
    position: absolute;
    top: 360px;
    left: 350px;
  }
  .icon8 {
    position: absolute;
    top: 330px;
    left: 480px;
  }
  .icon13 {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}

@media (min-width: 751px) and (max-width: 770px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon10,
  .icon11,
  .icon12,
  .icon13,
  .icon14 {
    display: block;
  }
  .icon9 {
    display: none;
  }
  .icon10 {
    position: absolute;
    top: 140px;
    left: 360px;
  }
  .icon12 {
    position: absolute;
    top: 50px;
    left: 600px;
  }
  .icon3,
  .icon11,
  .icon14 {
    display: none;
  }
  .icon7 {
    position: absolute;
    top: 360px;
    left: 350px;
  }
  .icon8 {
    position: absolute;
    top: 330px;
    left: 480px;
  }
  .icon13 {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}

@media (min-width: 601px) and (max-width: 750px) {
  .icon1,
  .icon2,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon10,
  .icon13 {
    display: block;
  }
  .icon9 {
    display: none;
  }
  .icon10 {
    position: absolute;
    top: 80px;
    left: 360px;
  }
  .icon3,
  .icon12,
  .icon11,
  .icon14 {
    display: none;
  }
  .icon7 {
    position: absolute;
    top: 360px;
    left: 350px;
  }
  .icon8 {
    position: absolute;
    top: 330px;
    left: 480px;
  }
  .icon13 {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .mob_img {
    width: 100%;
  }

  .main h1 {
    position: absolute;
  }

  .main_2 {
    padding: 0 15px;
  }

  .main_3 {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 15px;
  }

  .main_4 {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 15px;
  }

  .background_img {
    margin-top: -500px;
  }

  .left_5 {
    display: flex;
  }

  .main_5 {
    display: flex;
    flex-direction: column-reverse;
    padding: 120px 15px;
    gap: 30px;
  }

  .main_6 {
    padding: 120px 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon9,
  .icon10,
  .icon11,
  .icon12,
  .icon13,
  .icon14 {
    display: none;
  }

  .main {
    height: 100%;
    position: relative;
  }

  .main .mob_img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  /* .main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 35px;
    width: 100%;
  } */

  .main_2 .responsive {
    display: none;
  }

  .mob_main_2 {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 10px;
  }

  .mob_main_2 .mob_responsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .mob_main_2 .mob_responsive .res_card {
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px #00000026;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .mob_main_2 .mob_responsive .res_card img {
    width: 100%;
    height: auto;
  }

  .res_card p {
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #393939;
  }

  .main_3 {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 10px;
  }

  .main_4 {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 10px;
  }

  .center_4 img {
    width: 100%;
  }

  .center_4 h2 {
    text-align: left;
  }

  .center_4 p {
    text-align: left;
  }

  .background_img {
    margin-top: -500px;
  }

  .left_4 {
    width: 100%;
    overflow-x: auto;
  }

  .left_4 .box {
    display: flex;
    width: max-content;
  }

  .left_4 .box img {
    display: none;
  }

  .left_4 .box .models {
    padding: 0 20px;
  }

  .main_5 {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }

  .left_5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left_5 img {
    margin: 40px auto;
    width: 100%;
  }

  .right_5 {
    padding: 50px 0;
  }

  .main_6 {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 10px;
  }

  .main_6 .left_6 .box {
    grid-template-columns: repeat(1, 1fr);
  }

  .main_6 .right_6 img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .main h1 {
    position: absolute;
    font-size: 30px;
  }
}
